<!DOCTYPE html>
<html>
  <head>
    <title>Wet Your Plants</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <a href="#default" class="logo">LOGO</a>
      <div class="header-right">
        <a class="active" href="#logout">Logout</a>
        <a href="#login">Login with Google</a>

      </div>
    </div>
    <h1>Wet Your Plants</h1>
    <p>A plant-loving community</p>
  </body>
</html>
