<!DOCTYPE html>
<html>
  <head>
    <title>Wet Your Plants</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Wet Your Plants</h1>
    <p>A plant-loving community</p>
  </body>
</html>
