<!DOCTYPE html>
<html>
  <head>
    <title>Wet Your Plants</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <img src="/images/logo.jpeg"></img>
      <div class="header-right">
        <button class="active" href="#logout">Logout</button>
        <button href="#login">Login with Google</button>
      </div>
    </div>
    <h1 id="first">WET</h1>
    <h1 id="second">YOUR</h1>
    <h1 id="third">PLANTS</h1>
    <p>A plant-loving community <3</p>
  </body>
</html>
