<!DOCTYPE html>
<html>
  <head>
    <title>Wet Your Plants</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <img src="/images/logo.jpeg" class="header-img" />
      <div class="header-right">
        <li style="list-style: none">
          <% if (!user) { %>
          <a href="/auth/google">Login with Google</a>
          <% } else { %>
          <a href="/logout">Logout</a>
          <% } %>
        </li>
      </div>
    </div>
    <div class="box">
      <h1 id="first">WET</h1>
      <h1 id="second">YOUR</h1>
      <h1 id="third">PLANTS</h1>
    </div>
    <div class="img-div">
      <map name="image-map">
        <area
          target="_self"
          coords="198,945,71"
          shape="circle"
          href="http://google.com"
        />
        <area
          target="_self"
          coords="1155,455,75"
          shape="circle"
          href="/views/users/allposts.ejs"
        />
      </map>
      <img src="/images/wetplants.jpg" usemap="#image-map" class="main" />
      </div>
      <p>A plant-loving community <3</p>
  </body>
</html>
