* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Optima;
  background-color: rgba(253, 254, 226);
}

.header {
  background: rgb(145 178 116);
  padding-left: 15px;
  padding-right: 15px;
}

.header-img {
  justify-content: center;
  max-width: 80px;
  max-height: 80px;
  font-size: 18px;
  border-radius: 4px;
}

.header-right {
  float: right;
  padding: 5px;
}

a {
  font-size: 12px;
  border: 1px solid rgb(71, 87, 57);
  border-radius: 4px;
  padding: 12px;
  line-height: 70px;
  background-color: rgb(249, 254, 193);
  color: rgb(71, 87, 57);
  font-family: Optima;
  font-weight: bold;
  cursor: pointer;
}

.a2 {
  font-size: 11px;
  border: 1px solid rgb(71, 87, 57);
  border-radius: 4px;
  padding: 10px;
  line-height: 13px;
  background-color: rgb(246, 217, 213);
  color: rgb(71, 87, 57);
  font-family: Optima;
  font-weight: bold;
  cursor: pointer;
}

.box {
  position: relative;
  display: inline-block;
}

h1 {
  color: rgb(71, 87, 57);
}

h2 {
  color: rgb(71, 87, 57);
  padding-left: 40px;
}

.box {
  float: left;
}

#first {
  padding-left: 40px;
}

#second {
  padding-left: 70px;
}

#third {
  padding-left: 100px;
}

.main {
  width: 600px;
  height: auto;
}
/* 
p {
  float: right;
  padding-right: 50px;
  color: rgb(71, 87, 57);
} */

label {
  color: rgb(71, 87, 57);
  text-align: center;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 25rem))
}

#new-form input [name="question"] {
padding: 12px 20px;
margin: 8px 0;

}

#new-form input[type="submit"] {
  grid-column: span 2;
  margin-left: auto;
}

table {
  margin: 100px;
  text-align: center;
  font-size: 16px;
  color: rgb(71, 87, 57);
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#show-page {
  margin: 100px;
  text-align: center;
  font-size: 16px;
  color: rgb(71, 87, 57);
}