<!DOCTYPE html>
<html>
  <head>
    <title>Create a Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <img src="/images/logo.jpeg" class="header-img"/>
      <div class="header-right">
        <button class="active" href="#home">Home</button>
        <button href="#allposts">Posts</button>
      </div>
    </div>
    <div class="box">
        <h1>WET YOUR PLANTS</h1>
      <p>A plant-loving community <3</p>
      </div>
  </body>
</html>
