<!DOCTYPE html>
<html>
  <head>
    <title>Create a Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <img src="/images/logo.jpeg" class="header-img" />
      <div class="header-right">
        <li style="list-style: none">
          <a href="/posts">All Posts</a>
          <a href="/logout">Logout</a>
        </li>
      </div>
    </div>
    <div class="box">
      <h2>EDIT YOUR QUESTION</h2>
    </div>
    <br />
    <br />
    <div>
      <form id="edit-form" action="/edits/posts/<%= post.id%>?_method=PUT" method="POST">
        <label>Title:</label>
        <input type="text" name="title" value="<%= post.title %>" />
        <label>Question:</label>
        <textarea rows="15" cols="1" type="text" name="question">
<%= post.question %> </textarea
        >
        <input
          class="a2"
          type="submit"
          value="Edit Post"
          style="text-decoration-line: underline"
        />
      </form>
    </div>
  </body>
</html>
