<!DOCTYPE html>
<html>
  <head>
    <title>User Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <img src="/images/logo.jpeg" class="header-img" />
      <div class="header-right">
        <a href="/create">Create Post</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="box">
      <h2>WET YOUR PLANTS</h2>
    </div>
    <div>
      <table id="list">
        <thead>
          <tr>
            <th>Title</th>
            <th>Question</th>
            <!-- <th>User</th> -->
          </tr>
        </thead>
        <tbody>
          <% posts.forEach(function(p) { %>
          <tr>
            <td><%= p.title %></td>
            <td><%= p.question %></td>
            <!-- <td><%= p._id %></td> -->
            <td>
              <a class="a2" href="/show/<%=p.id%>">See Post</a>
            </td>
            <td>
              <a class="a2" href="/">Delete Post</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
