<!DOCTYPE html>
<html>
  <head>
    <title>User Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <img src="/images/logo.jpeg" class="header-img"/>
      <div class="header-right">
        <a class="active" href="#home">Home</a>
        <a href="#allposts">Posts</a>
      </div>
    </div>
    <div class="box">
      <h2>WET YOUR PLANTS</h2>
    </div>
  </body>
</html>