<!DOCTYPE html>
<html>
  <head>
    <title>User Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <img src="/images/logo.jpeg" class="header-img"/>
      <div class="header-right">
        <a href="/posts/create">Create Post</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="box">
      <h2>WET YOUR PLANTS</h2>
    </div>
    <div>
      <table id="list">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
      
          </tbody>
        </table>
    </div>
  </body>
</html>