<!DOCTYPE html>
<html>
  <head>
    <title>Create a Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <img src="/images/logo.jpeg" class="header-img" />
      <div class="header-right">
        <li style="list-style: none">
          <a href="/posts">All Posts</a>
          <a href="/logout">Logout</a>
        </li>
      </div>
  </body>
</html>
